<div class="home-banner">
  <br>
  <h1>RIOTER</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @rioters.each do |rioter| %>
        <%= render 'shared/rioter-card', rioter: rioter %>
      <% end %>
    </div> <!-- closing column -->
  </div> <!-- closing row -->
</div> <!-- closing container -->

