// Import page-specific CSS files here.
@import "rioter-index";

.index-page-wrapper {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}
