// Import page-specific CSS files here.
@import "rioter-index";
@import "new";
.index-page-wrapper {
  background-color: rgba(50, 50, 50, .6);
  width: 85%;
  border-radius: 10px;
  height: 100%;
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100vh;
  margin-bottom: 10px;
}

.move-up {
    animation: fadeInUpBig 1.5s;

}

.margin-bottom {
  margin-bottom: 50px;
}

.available-rioter-banners {
  margin: 0 auto;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: white;
  width: 74%;
  h2 {
    color:white;
    font-size: 40px
  }
}

@keyframes fadeInUpBig {
  0%{
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

a {
  text-decoration: none;
}
body {
  background-color: transparent;
}
