// Import page-specific CSS files here.
@import "rioter-index";
@import "new";
.index-page-wrapper {
  background-color: rgba(230, 230, 230, .9);
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;

}

.move-up {
    animation: fadeInUpBig 1.5s;

}

.margin-bottom {
  margin-bottom: 50px;
}

.available-rioter-banners {
  margin: 0 auto;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: black;
  width: 74%;
  h2 {
    color:black;
    font-size: 40px
  }
}

@keyframes fadeInUpBig {
  0%{
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

a {
  text-decoration: none;
}
body {
  background-color: transparent;
}

.fas.fa-chevron-down.fa-2x {
  animation: fadeIn 5.0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
