.log-in-riot-image {
  background-size: cover;
  background-image: asset-url("india-riot.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
