<div class="home-banner">
  <br>
  <h1>RIOTER</h1>
</div>

<div class="index-page-wrapper">
  <div class='available-rioter-banners'>
  <h2><strong>Available Rioters</strong></h2>
  </div>
  <br>
<div class="container">
  <div class="move-up">
  <div class="row justify-content-center ">
      <% @rioters.each do |rioter| %>
          <div class="col-4 margin-bottom">
          <%= link_to rioter_path(rioter) do %>
            <%= render 'shared/rioter-card', rioter: rioter %>
          <% end %>
          </div> <!-- closing column -->
      <% end %>
    <div>
      <br>


  </div> <!-- closing row -->
</div> <!-- closing container -->
</div>
