
.log-in-container{
  width: 50%;
  padding: 30px 150px;
  background-color: rgba(230, 230, 230, .7);
  border-radius: 10px;

}

.log-link-container{
  display: flex;
  justify-content: space-around;
}
