.card-picture {

  overflow: hidden;
  background: rgba(230, 230, 230, .8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: left;
  height: 450px;
  width: 80%;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 10px;
}

.bloxy {
  margin: 30px;
}

.cock {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.fist {
  width: 25px;
}

.picturizer {
  height: 100%;

}

.bgofpage {
  margin-top: -85px;
  height: 100%;
  background-size: cover;
  background-image: url("fire-riot.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-new-form {
    width: 70%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(230, 230, 230, .5);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.card-picture h2 {
  text-decoration: underline;
  font-size: 40px
}

.card-picture h4 {
  font-size: 16px;
}

.submit-button-rioter {
    display:inline-block;
    color: black;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding-top: 10px;
    padding-left: 60px;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
    height: 50px;
    width: 150px;
    font-size: 12px;
}.submit-button-rioter:hover {
    color:#9F0441;
}.submit-button-rioter:active {
    position:relative;
    top:1px;
}
